[
  {rabbit, [{auth_backends, [rabbit_auth_backend_http]}]},
  {rabbitmq_auth_backend_http,
   [{http_method,   post},
    {user_path,     "http://account/wapi/auth/rabbitmq/user"},
    {vhost_path,    "http://account/wapi/auth/rabbitmq/vhost"},
    {resource_path, "http://account/wapi/auth/rabbitmq/resource"},
    {topic_path,    "http://account/wapi/auth/rabbitmq/topic"}]}
].
